@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap");

.App {
  font-family: "Open Sans", sans-serif;
  background-color: #282c34; /* Consider using bg-gray-800 if you are using a dark theme */
  color: white; /* Consider using text-white for text color */
  min-height: 100vh; /* Full height to ensure the background color covers the full viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* APP Flex Structure */
.structure {
  @apply flex flex-col items-center justify-start h-max min-h-screen py-16 px-4 font-sans bg-gray-800 text-white;
}

.contentcontainer {
  @apply w-full max-w-xl;
}

/* Moontrade Logo CSS */
.moontradelogo-primary {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: bold;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.5))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));

  @apply text-[2.5rem] lg:text-[4rem] leading-[0px] 
    text-white;
}

/* BUTTONS CSS */
.primary-cta-btn {
  font-family: "Open Sans", sans-serif;

  @apply rounded bg-[#5D5FEF] px-8 py-3 w-[100%] my-[0.5rem] text-sm font-bold text-white transition focus:outline-none focus:ring active:bg-indigo-500 active:scale-95;
}

.secondary-cta-btn {
  font-family: "Open Sans", sans-serif;

  @apply rounded bg-fuchsia-400 px-8 py-3 w-[100%] my-[0.5rem] text-sm font-bold text-slate-700  transition focus:outline-none focus:ring active:bg-fuchsia-500 active:scale-95;
}

.neutral-btn-one {
  font-family: "Open Sans", sans-serif;

  @apply rounded bg-transparent px-8 py-3 w-[100%] my-[0.5rem] text-sm font-bold text-slate-500 border border-slate-400 transition focus:outline-none focus:ring active:bg-slate-200 active:scale-95;
}

/* UTILITY BTNS */
.closebtn {
  font-family: "Open Sans", sans-serif;
  width: 2rem;
  height: 2rem;
  text-align: center;

  @apply bg-transparent text-[#9092ff] font-normal text-[.8rem] px-[.6rem] py-[.2rem] hover:text-orange-500 active:scale-90;
}

.smallfunctionbtn {
  @apply rounded bg-transparent px-8 py-3 w-[100%] my-[0.5rem] text-sm font-bold text-slate-500 border border-slate-400 transition focus:outline-none focus:ring active:bg-slate-200 active:scale-95;
}

/* TABLE CSS */
.table-responsive {
  @apply block w-full overflow-x-auto;
  -webkit-overflow-scrolling: touch;
}

table {
  @apply min-w-full border-collapse mb-4 divide-y divide-gray-300;
}

th,
td {
  @apply py-3 px-2;
  vertical-align: top;
}

thead th {
  @apply text-left text-sm font-semibold text-gray-900 whitespace-nowrap;
  vertical-align: center;
  border-bottom: 2px solid #dee2e6;
}

tbody {
  @apply divide-y divide-gray-200 bg-white;

  tr {
    @apply odd:bg-gray-100;
    &:hover {
      @apply bg-gray-200;
    }
  }

  td {
    @apply py-2 px-2 text-sm whitespace-nowrap text-gray-500;
  }
}

table a {
  @apply text-indigo-600 hover:text-indigo-900 transition;
}

/* TEXT: HEADING */

.heading1 {
  @apply text-3xl font-semibold leading-6 text-white;
}
