@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Open Sans", sans-serif;
}

@layer base {
  :root {
    /* Fills */
    --color-bg: 0deg 0% 100%;
    --color-primary: 239deg 82% 65%;
    --color-secondary: 292deg 91% 73%;

    /* Header Colours */
    --header-pri: 239deg 82% 65%;

    /* Text Colours */
    --text-pri: 0deg 0% 20%;
    --text-secondary: 0deg 0% 40%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      /* Fills */
      --color-bg: 215deg 13% 13%;
      --color-primary: 239deg 82% 65%;
      --color-secondary: 292deg 91% 73%;

      /* Header Colours */
      --header-pri: 239deg 62% 75%;

      /* Text Colours */
      --text-pri: 239deg 82% 65%;
      --text-secondary: 0deg 0% 100%;
    }
  }

  /* :root[data-theme="dark"] {
    --color-primary: 109deg 82% 65%;
    --color-secondary: 292deg 91% 73%;
  } */
}
